<div class="tasks-headline">
    Tasks
</div>

<mat-card class="card-shadow">

    <mat-form-field class="search-input">
        <input matInput [(ngModel)]="searchTerm" placeholder="Search users...">
    </mat-form-field>

    <table class="tasks-table">
        <tr>
            <th (click)="onHeaderClick('title')">Title 
                <span *ngIf="sortField === 'title'">{{ sortOrder === 'asc' ? '↑' : '↓' }}</span>
            </th>
            <th (click)="onHeaderClick('category')">Category 
                <span *ngIf="sortField === 'category'">{{ sortOrder === 'asc' ? '↑' : '↓' }}</span>
            </th>
            <th (click)="onHeaderClick('descreption')">Descreption 
                <span *ngIf="sortField === 'descreption'">{{ sortOrder === 'asc' ? '↑' : '↓' }}</span>
            </th>
            <th (click)="onHeaderClick('dueDate')">Due Date 
                <span *ngIf="sortField === 'dueDate'">{{ sortOrder === 'asc' ? '↑' : '↓' }}</span>
            </th>
            <th (click)="onHeaderClick('priority')">Priority 
                <span *ngIf="sortField === 'priority'">{{ sortOrder === 'asc' ? '↑' : '↓' }}</span>
            </th>
            <th (click)="onHeaderClick('subtasks')">Subtasks 
                <span *ngIf="sortField === 'subtasks'">{{ sortOrder === 'asc' ? '↑' : '↓' }}</span>
            </th>
            <th (click)="onHeaderClick('status')">Status 
                <span *ngIf="sortField === 'status'">{{ sortOrder === 'asc' ? '↑' : '↓' }}</span>
            </th>
        </tr>
        
        <tr *ngFor="let tasks of filteredTasks" [routerLink]="['/tasks/' + tasks.customIdTitle]">
            <td class="pl" data-label="Title:">&nbsp;{{ tasks.title }}</td>
            <td class="pl" data-label="Category:">&nbsp;{{ tasks.category }}</td>
            <td class="pl descreption-tr" data-label="Descreption:">&nbsp;{{ tasks.descreption }}</td>
            <td class="pl" data-label="Due Date:">&nbsp;{{ tasks.dueDate | date: 'dd-MM-yyyy'}}</td>
            <td class="pl" data-label="Priority:">&nbsp;{{ tasks.priority }}</td>
            <td class="pl" data-label="Subtasks:">&nbsp;{{ tasks.subtasks }}</td>
            <td class="pl" data-label="Status:">&nbsp;{{ tasks.status }}</td>
        </tr>

    </table>
  </mat-card>



<button (click)="openDialog()" class="add-tasks-btn" mat-fab color="primary" matTooltipPosition="above"
    matTooltip="Add tasks">
    <mat-icon fontIcon="add"></mat-icon>
</button>