<div class="sign-in-container">
<mat-dialog-content class="recover-dialog">
    <h1 class="h1-recover" mat-dialog-title>I forgot my password</h1>
  
    <mat-dialog-content class="recover-descreption">
        Don't worry! We will send you an email with the instructions to reset your password.
    </mat-dialog-content>

    <form class="form" [formGroup]="form">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error *ngIf="form.get('email')?.invalid">{{getErrorMessage()}}</mat-error>    </mat-form-field>
  

      <div class="button-container" mat-dialog-actions>
        <button (click)="backRecover()" class="button-recover-password"  mat-fab  extended  cdkFocusInitial>Back</button>
        <button (click)="recover()" mat-fab extended color="primary" [disabled]="!form.valid">Send the mail</button>
    </div>
    </form>
  </mat-dialog-content>
</div>
