
<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Edit Address</h1>
    <div mat-dialog-content>
    
        <div class="">

    
              <mat-form-field class="mr-16" appearance="outline">
                <mat-label>Street + No.</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Street">
                <mat-hint>Please enter a Street</mat-hint>
            </mat-form-field>
    
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>Zip Code</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="Zip Code">
                <mat-hint>Please enter a Code</mat-hint>
            </mat-form-field>
    
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>City</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="City">
                <mat-hint>Please enter a City</mat-hint>
            </mat-form-field>
        </div>
    
    
    
    
    </div>
    <div mat-dialog-actions>
        <button [disabled]="loading" (click)="dialogRef.close()" mat-button>Cancel</button>
        <button [disabled]="loading" mat-button (click)="saveEditAddress()" cdkFocusInitial>Save</button>
    </div>
    </div>