.tasks-detail-container {
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: 0;
}

.priority {
border-radius: 8px;
padding-top: 4px;
padding-bottom: 4px;
}

.border-radius {
border-radius: 4px;
}

.bold {
    font-weight: bold;
}

.category {
    padding-bottom: 8px;
    padding-top: 8px;
}