<div class="dialog-container w-42vw">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Add Dates</h1>
    <div mat-dialog-content>
    
        <div class="">
            <mat-form-field class="mb-16 w-48" appearance="outline">
                <mat-label>Dates</mat-label>
                <input [disabled]="loading" [(ngModel)]="dates.dateName" matInput placeholder="Dates">
                <mat-hint>Please enter Dates</mat-hint>
            </mat-form-field>
    
    
            <mat-form-field class="mb-16 w-100" appearance="outline">
                <mat-label>Dates Date</mat-label>
                <input [disabled]="loading" [(ngModel)]="datesDate" matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

        </div>
    
    
    
    
    </div>
    <div mat-dialog-actions>
        <button [disabled]="loading" (click)="dialogRef.close()" mat-button>Cancel</button>
        <button [disabled]="loading" mat-button (click)="saveEditDates()" cdkFocusInitial>Save</button>
    </div>
    </div>