.customer-detail-container {
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

.invoiced-website-container {
display: flex;
}

.website {
    display: flex;
    align-items: center;
}

.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: 0;
}

.customer-detail-button-header {
width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
}

.priority {
border-radius: 8px;
padding-top: 4px;
padding-bottom: 4px;
}

.border-radius {
border-radius: 4px;
}


.category {
    padding-bottom: 8px;
    padding-top: 8px;
}

.customer-detail-header {
    min-height: 150px;
    background-color: rgb(39, 41, 83);
    color: white;
    display: flex;
    align-items: center;

    img {
       height: 80px;
       width: 80px;
       border-radius: 100%; 
       border: 4px;
       border-color: black;
       border-style: solid;
    }
}

.customer-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    padding: 0;


    h2 {
        margin: 0 0 4px 0;
    }
}

.mat-mdc-card-header {
    padding-left: 0;
}

.background-adress {
    background-color: rgb(119, 122, 161);
}


.background-about {
    background-color: rgb(142, 144, 177);
}


.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: 0;
}

.h2-Adress {
    margin-bottom: 0;
    padding-bottom: 0;
}

.address-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.phone-class {
    padding-bottom:0 0 8px 8px;
    height: 21px;
    display: flex;
    align-items: baseline;
}