<div class="chart-overview-container">
        
<div class="target-progress-container">

        <div class="invoiced-container"> 
                <span>Invoiced</span>
        </div>
      
 

<div class="target-container">

        <div class="annual-container">
     <span class="h1">€ <b>{{ getSumOfData1() }}</b> M</span>
     <span>Annual Year Target</span>
</div>
     <div class="progress-bar-background">
        <div class="progress-bar-fill" [style.width]="(getSumOfData1() / 7 * 100) + '%'"></div>
    </div>


        <div class="progress-target-container">

        <span class="progress-in-procent">{{ Math.round(getSumOfData1() / 7 * 100) + '%' }}</span>
        <span class="target">€<b>7</b>M</span>

        </div>

</div>
</div>
<canvas class="chart-container" baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [type]="'bar'">
</canvas>


<div class="customer-container">
        <span>By Customer</span>
      
        <div *ngFor="let customer of allCustomer" class="-customer-progress-container">
          <div class="progress-target-container">
            <span class="progress-in-procent">{{ customer.customerName }}</span>
            <span class="target">€{{customer.invoiced.toFixed(1)}}M</span>
          </div>
          <div class="progress-bar-background">
            <div class="progress-bar-fill" [style.width]="(customer.invoiced / 7 * 100) + '%'"></div>
          </div>
        </div>
      </div>
      
      
      
      
      
      


