<mat-card class="user-detail-header">


    <button mat-icon-button class="pin-right-upper-corner" 
     matTooltip="Edit/Delete User" [matMenuTriggerFor]="menu">
        
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editUserDetail()">Edit User</button>
        <button mat-menu-item [routerLink]="['/user/']" (click)="deleteUserDetail()">Delete User</button>
      </mat-menu>


      <h2>{{user.customer}}</h2>
    <img src="assets/img/manager.png" alt="profile icon">
    <div class="user-details">
        <h2>{{user.firstName}} {{user.lastName}}</h2>
        <div class="class-container">
        <mat-icon aria-hidden="false" fontIcon="mail"></mat-icon>
        <a class="none-link-decoration phone-class pb-8" 
        [href]="'mailto:' + user.email"><span class="pb-8 pl-4">{{user.email}} </span></a>
    </div>
        <div class="class-container">
        <mat-icon class="icon-phone" aria-hidden="false" fontIcon="call"></mat-icon>
        <a class="none-link-decoration phone-class pb-8" 
        [href]="'tel:' + user.phoneNumber"><span class="pb-8 pl-4">{{ user.phoneNumber }}</span></a>
    </div>
        <span class="pb-8"><span class="mr-8 bold">Birthdate:</span>{{ user.birthDate | date: 'dd-MM-yyyy'}}</span>
    
    </div>
</mat-card>


<mat-card>


    <mat-card-header class="address-header">
        <mat-card-title class="h2-Adress"><h2 class="h2-Adress">Address</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content class="address-container">
    <span>{{user.street}}</span> 
<span>{{user.zipCode}} {{user.city}}</span>
    </mat-card-content>

</mat-card>