.user-detail-header {
    min-height: 150px;
    color: black!important;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 16px;

    img {
       height: 80px;
       width: 80px;
       border-radius: 100%; 
       border: 4px;
       border-color: black;
       border-style: solid;
    }
}

.none-link-decoration {
    color: black!important;
}

.card-shadow {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.user-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;

    h2 {
        margin: 0 0 4px 0;
    }
}

.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: 0;
}

.h2-Adress {
    margin-bottom: 0;
    padding-bottom: 0;
}

.address-container {
    display: flex;
    flex-direction: column;
}

.phone-class {
    padding-bottom:0 0 8px 8px;
    height: 21px;
    display: flex;
    align-items: baseline;
}

@media (max-width: 992px) {  
    .user-details {
        margin: 0;
        flex-direction: column;
    }
}