<div class="user-headline">
    User 
</div>

<mat-card>
    

    <mat-form-field class="search-input">
        <input matInput [(ngModel)]="searchTerm" placeholder="Search users...">
    </mat-form-field>

    <table class="user-table">
        <tr>
        <th>Name</th>
        <th>Birthdate</th>
        <th>E-Mail</th>
        <th>Phone number</th>
        <th>Adress</th>
        <th>Zipcode</th>
        <th>City</th>
        </tr>
        
        <tr *ngFor="let user of filteredUsers" [routerLink]="['/user/' + user.customIdName]">
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.birthDate | date: 'dd-MM-yyyy'}}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>{{ user.street }}</td>
            <td>{{ user.zipCode }}</td>
            <td>{{ user.city }}</td>
        </tr>
    </table>
  </mat-card>
  

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltipPosition="above"
    matTooltip="Add user">
    <mat-icon fontIcon="add"></mat-icon>
</button>