.user-headline {
    font-size: 1.4rem;
    margin-bottom: 36px;
}


.add-user-btn {
    position: absolute;
    right: 56px;
    top: 65px;
}


.card-shadow {
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    overflow-x: auto;
}


.pl {
    padding-left: 0;
}


.user-table {
    border-collapse: collapse;
    margin-top: 16px;

    tr {
        border-bottom: 2px solid rgb(150, 150, 150);
        
        &:first-child {
            cursor: unset;
            &:hover {
                background-color: unset;
            }
        }
        &:last-child {
            border-bottom: 0;
        }

        cursor: pointer;

        td {
            height: 40px;

            &:first-child {
                padding: 0 0 0 16px;
            }

            
        }

        th {
            &:first-child {
                padding: 0 0 0 16px;
            }
        }
            &:hover {
                background-color:  rgb(230, 230, 230);
              }
            
        

    }


    th {
      font-size: .875rem;
        font-weight: 500;
        text-align: start;
        padding: 0 0 0px 0;
    }
}

th {
    cursor: pointer;

    &:hover {
        background-color:  rgb(230, 230, 230);
    }
}


@media (max-width:  992px) {
    th, td {
      display: block;
    }
    th {
      display: none; /* Hide table headers */
    }

    td:before {
      content: attr(data-label); /* Use a data attribute for the label */
      float: left;
      font-weight: bold;
    }

    .pl {
        padding-left: 16px;
    }

    .mtR {
    margin-top:  40px;
}
  }

