.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.name-clock-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    padding-left: 16px;
    border-radius: 4px;
    height: 74px;
}

.name-container {
    display: flex;
    align-items: center;
}

.greeting-time {
    font-size: 1rem;
}

.clock-date-container {
    display: flex;
}

.calender-week {
    margin-bottom: 8px;
    margin-top: 8px;
}

.date-container {
    height: 100px;
    width: 150px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
    }
}

.overview-card {
    height: 74px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    font-size: 1.1rem;

    &:hover {
        background-color: rgb(230, 230, 230);
        cursor: pointer;
    }
}

.overview-container {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.amount-dashboard {
    padding-left: 6px;
    padding-right: 6px;
    color: rgb(215, 44, 107);
}


.customer-chart-container {
    &:hover {
        cursor: pointer;
    }
}


.digitalClock {
    height: 100px;
    width: 130px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
}


.numbers-clock-container {
    display: flex;
    margin-bottom: 8px;
    margin-top: 8px;
}


.progress-bar-background {
    width: 100%;
    height: 10px;
    background-color: rgb(230, 230, 230);
    margin-top: 16px;
    border-radius: 4px;
}


.progress-bar-fill {
    height: 100%;
    background-color: rgb(229, 200, 82);
    border-radius: 4px;
}

@media (max-width: 1024px) {
    .overview-container {
        flex-direction: column;
    }
  }


  @media (max-width: 400px) {
    .digitalClock {
        width: 90px;
    }
  }
