<div class="dashboard-container">


    <div class="name-clock-container">
    <div class="name-container">
            <span class="greeting-time">{{ greetMessage }}</span>
            <span class="nameOfUserGreeting" id="nameUser" class="userName"></span>
        </div>


    <div class="clock-date-container"> 
    <div class="digitalClock">
        <div class="day">{{day}}</div>
        <div class="numbers-clock-container">
            <div class="hour">{{hour}}:</div>
            <div class="minute">{{minute}}:</div>
            <div class="second">{{second}}</div>
        </div>
    </div>


    
    <div class="date-container" id="date-container" [routerLink]="['/calendar/']" routerLinkActive="router-link-active">
    <div>{{currentDateString}}</div>
    <div class="calender-week">Calendar week: {{calenderweek}}</div>
    <div class="calender-week-responsive">Week: {{calenderweek}}</div>
    </div>




</div>

</div>

    <div class="overview-container">
        <div class="overview-card" [routerLink]="['/user/']" routerLinkActive="router-link-active">You have<span class="amount-dashboard">{{allUsers.length}}</span>users on your board</div>
        <div class="overview-card" [routerLink]="['/tasks/']" routerLinkActive="router-link-active">You have<span class="amount-dashboard">{{allTasks.length}}</span>tasks on your board</div>
    </div> 
        
    <div class="overview-container">
        <div class="overview-card" [routerLink]="['/tasks/']" routerLinkActive="router-link-active">You have<span class="amount-dashboard">{{ getUrgentTaskCount() }}</span>urgent tasks on your board</div>
        
        
        <div class="overview-card" [routerLink]="['/tasks/']" routerLinkActive="router-link-active">
            <div class="text-progress-container">
            You have<span class="amount-dashboard">{{ getDoneTaskCount() }}</span>
            <span class="amount-dashboard">/ {{allTasks.length}}</span>tasks done
            <div class="progress-bar-background">
                <div class="progress-bar-fill" [style.width]="getProgressPercentage() + '%'"></div>
            </div>
        </div>
        </div>
    </div>


<app-chart-dash class="customer-chart-container" [routerLink]="['/customer/']" routerLinkActive="router-link-active"></app-chart-dash>


</div>