<div class="customer-headline">
    Customer
</div>

<mat-card>

    <mat-form-field class="search-input">
        <input matInput [(ngModel)]="searchTerm" placeholder="Search customer...">
    </mat-form-field>

    <table class="customer-table">
        <tr>
            <th (click)="onHeaderClick('customerName')">CustomerName 
                <span *ngIf="sortField === 'customerName'">{{ sortOrder === 'asc' ? '↑' : '↓' }}</span>
            </th>
            <th (click)="onHeaderClick('email')">Email 
                <span *ngIf="sortField === 'email'">{{ sortOrder === 'asc' ? '↑' : '↓' }}</span>
            </th>
            <th (click)="onHeaderClick('phoneNumber')">PhoneNumber 
                <span *ngIf="sortField === 'phoneNumber'">{{ sortOrder === 'asc' ? '↑' : '↓' }}</span>
            </th>
            <th (click)="onHeaderClick('invoiced')">Invoiced 
                <span *ngIf="sortField === 'invoiced'">{{ sortOrder === 'asc' ? '↑' : '↓' }}</span>
            </th>
        </tr>
        
        <tr *ngFor="let customer of filteredCustomer" [routerLink]="['/customer/' + customer.customIdCustomerName]">
            <td class="truncate-text">{{ customer.customerName }}</td>
            <td class="truncate-text">{{ customer.email }}</td>
            <td  class="truncate-text">{{ customer.phoneNumber }}</td>
            <td class="truncate-text">{{ customer.invoiced }}</td>

        </tr>

    </table>
  </mat-card>



<button (click)="openDialog()" class="add-tasks-btn" mat-fab color="primary" matTooltipPosition="above"
    matTooltip="Add customer">
    <mat-icon fontIcon="add"></mat-icon>
</button>